.contenedor {
    display: grid;
    grid-auto-columns: 100px;
    grid-template-rows: 100px 100px 100px;
    gap:20px;
    grid-auto-flow: column;
}

.item {
    width: 100px;
    height: 100px;
    background-color: #72cb10;
    color:#fff;
    font-weight: 500;
    font-size: 25px;
    display: grid;
    justify-items: end;
    align-items: end;
}

.item:nth-child(2),
.item:nth-child(5) {
    background-color: #5ab507;
}
.item:nth-child(3),
.item:nth-child(6) {
    background-color: #419f00;
}
